/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family:'Raleway', Verdana, Helvetica, arial;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

.container {
	padding:10px;
}
.header-content {
    background-color:#FAFAFA;overflow:hidden;height:100%;display:block;
}

.header-content h1 {
	float: left;
	width: 225px;
}

.header-content h3 {
	margin:10px 0 0 0;
}

.header-content h4 {
	border: none;
	font-size: 1em;
	margin:0;
}

.main-content {
	background-color:#fff;overflow:hidden;height:100%;display:block;
	border-top:solid 1px #CCC;
}

.grey-content {
	background-color:#F9F9F9;
}

.d-grey-content {
	background-color: #f4f4f4;
}

.footer-content {
	background-color: #4B4B4B;
}

.me {
	display: block;
	width:150px;
}

h2, h3, h3 a, h4, h5 {
	color: #777;
	text-decoration: none;
}

h2 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.5em;
	margin: 8px 0 5px 0;
	padding: 10px 0 5px 0;
	border-bottom: dotted 1px #ccc;
}
h3, h4, h5 {
	font-family:'Telex', Verdana, Helvetica, arial;
}
h5 {
	margin-top: 0px;
	font-size: 1.4em;
}

.header-content h3 a:hover, h4 {
	color: #1A92D0;
}

.project {
	padding: 0 40px 4px 0;
	float: left;
	border-bottom: dotted 1px #ccc;
}

.project img {
	height: 45px;
}

.project .links {
	display: block;
	width: 100%;
}

.project-divider {
	height: 30px;
	width: 100%;
	clear:both;
}

.project-logo {
	float: right;
	height: 100px !important;
}

.project h5 {
	margin:25px 0 0 0;
	font-size: 1.2em;
}

.project .links p {
	float: left;
	padding: 0 10px 0 0;
}

.star {
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 10px solid transparent; 
   border-right: 10px solid transparent; 
   border-bottom: 16px solid #ccc;
   
}
.star:after {
   content:"";
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 10px solid transparent; 
   border-right: 10px solid transparent; 
   border-top: 16px solid #ccc;
   margin: 6px 0 0 -10px;
}

.tech { margin: 0 0 0 25px; }

.projects {
	float: left;
}

.project-link {
	float:left;
	margin: 0 25px 25px 0;
	border: dotted 1px #ccc;
	width: 150px;
}

.project-link h5 {
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: none;
	font-size: 1.2em;
}
.project-link img {
	display: block;
	height: 120px;
	margin-left: auto;
    margin-right: auto;
}

a .project-link p {
	text-decoration: none;
	color: #333;
	text-align: center;
}

.skill-line {
	width:100%;float:left;
	padding: 10px 0 0 0;
}

.scale, .category-header {
	width:25%;
	height:20px;
	float:left;
	padding: 3px 1px 3px 1px;
}

.category-header { background-color: #EEE; }
.learning { background-color: #FFCC66; }
.good { background-color: #66CCFF; }
.awesome { background-color: #33CC00; }

.category {
	width:100%;
	display:block;
}

.category-skill {
	height:10px;float:left;
	margin-top: 4px;
}

.footer {
	padding: 10px;
}

.footer p, .footer a {
	color: #fff;
}
	
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 30em) {
	.category {
		float:left;
		width:100px;
	}
	
	.me {
		float: right;
		padding: 0 0 10px 10px;
		width:240px;
	}
	.header-meta {
		float:right;
		text-align: right;
	}
}

@media screen and (min-width: 34em) {
	
	.project {
		width:320px;
		height: 315px;
	}
	
	.full {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 40.5em) {
	.container {
		max-width:45em;
		margin:0 auto;
	}
		
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
